name: Release

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Force a specific release type (optional)'
        required: false
        type: choice
        options:
          - auto
          - patch
          - minor
          - major
        default: 'auto'

jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
    concurrency:
      group: ${{ github.workflow }}-release-${{ github.ref_name }}
      cancel-in-progress: false
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          cache-python: "true"
          activate-environment: "true"

      - name: Install dependencies
        run: uv sync --locked --group build

      - name: Semantic release
        id: release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          extra_args=""
          if [[ "${{ github.event.inputs.release_type }}" != "auto" ]]; then
            extra_args+=" --${{ github.event.inputs.release_type }}"
          fi

          semantic-release --verbose --strict version $extra_args

      - name: Publish release artifacts
        if: ${{ steps.release.outputs.released == 'true' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: semantic-release publish

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        if: ${{ steps.release.outputs.released == 'true' }}
        with:
          name: distribution-artifacts
          path: dist
          if-no-files-found: error

    outputs:
      released: ${{ steps.release.outputs.released || 'false' }}

  publish:
    runs-on: ubuntu-latest
    needs: release
    if: ${{ needs.release.outputs.released == 'true' }}
    permissions:
      id-token: write
      contents: read
    environment:
      name: pypi
      url: https://pypi.org/p/podryk

    steps:
      - name: Setup | Download Build Artifacts
        uses: actions/download-artifact@v4
        id: artifact-download
        with:
          name: distribution-artifacts
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1